@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-bg-page text-secondary font-body;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-heading tracking-tight;
    letter-spacing: -0.02em;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
